@import "tailwindcss";

@theme {
  --color-primary: #312E81;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
  --color-canvas: #F8FAFC;
  --color-heading: #0F172A;
  --color-body: #475569;

  /* Memetakan Variabel Google Font Next.js ke kelas font-* Tailwind */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif;

  /* Custom Radius 40px untuk Bento Box */
  --radius-bento: 40px;
}

@layer base {
  body {
    background-color: var(--color-canvas);
    color: var(--color-body);
  }
}

/* KUSTOMISASI SCROLLBAR GLOBAL AGAR ELEGAN */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #CBD5E1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94A3B8;
}

/* Utility class untuk elemen yang bisa di-scroll tapi mau disembunyikan scrollbarnya */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}